<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Projetos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Sementes do Bem</ion-card-title>
        <ion-img src="/assets/sementes.jpg"></ion-img>
      </ion-card-header>
      <ion-item>
          <ion-avatar slot="start">
              <img src="/assets/avatar.jpg">
          </ion-avatar>
          <ion-card-subtitle>Beatriz e Luana</ion-card-subtitle>
      </ion-item>
      <ion-card-content>
          <p>Bacon ipsum dolor amet picanha shoulder hamburger strip steak, corned beef rump shank landjaeger swine ball tip sirloin. Landjaeger shankle frankfurter kevin meatball</p>
      </ion-card-content>
      <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/13.png">
          </ion-thumbnail>
          <ion-label>ODS 13</ion-label>
      </ion-item>
  </ion-card>
  <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Sementes do Bem</ion-card-title>
        <ion-img src="/assets/sementes.jpg"></ion-img>
      </ion-card-header>
      <ion-item>
          <ion-avatar slot="start">
              <img src="/assets/avatar.jpg">
          </ion-avatar>
          <ion-card-subtitle>Beatriz e Luana</ion-card-subtitle>
      </ion-item>
      <ion-card-content>
          <p>Bacon ipsum dolor amet picanha shoulder hamburger strip steak, corned beef rump shank landjaeger swine ball tip sirloin. Landjaeger shankle frankfurter kevin meatball</p>
      </ion-card-content>
      <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/13.png">
          </ion-thumbnail>
          <ion-label>ODS 13</ion-label>
      </ion-item>
  </ion-card>
  <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Sementes do Bem</ion-card-title>
        <ion-img src="/assets/sementes.jpg"></ion-img>
      </ion-card-header>
      <ion-item>
          <ion-avatar slot="start">
              <img src="/assets/avatar.jpg">
          </ion-avatar>
          <ion-card-subtitle>Beatriz e Luana</ion-card-subtitle>
      </ion-item>
      <ion-card-content>
          <p>Bacon ipsum dolor amet picanha shoulder hamburger strip steak, corned beef rump shank landjaeger swine ball tip sirloin. Landjaeger shankle frankfurter kevin meatball</p>
      </ion-card-content>
      <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/13.png">
          </ion-thumbnail>
          <ion-label>ODS 13</ion-label>
      </ion-item>
  </ion-card>
  <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Sementes do Bem</ion-card-title>
        <ion-img src="/assets/sementes.jpg"></ion-img>
      </ion-card-header>
      <ion-item>
          <ion-avatar slot="start">
              <img src="/assets/avatar.jpg">
          </ion-avatar>
          <ion-card-subtitle>Beatriz e Luana</ion-card-subtitle>
      </ion-item>
      <ion-card-content>
          <p>Bacon ipsum dolor amet picanha shoulder hamburger strip steak, corned beef rump shank landjaeger swine ball tip sirloin. Landjaeger shankle frankfurter kevin meatball</p>
      </ion-card-content>
      <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/13.png">
          </ion-thumbnail>
          <ion-label>ODS 13</ion-label>
      </ion-item>
  </ion-card>
</ion-content>