<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      O que foi?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Digital Club SP</ion-card-title>
        <ion-card-subtitle>Uma história marcante em 2019</ion-card-subtitle>
      </ion-card-header>
      <ion-img src="/assets/vingadores.jpg"></ion-img>
      <ion-card-content>
        <p>Ao longo de três semanas as meninas da ETEC Pirituba puderam presenciar.....</p>
      </ion-card-content>
  </ion-card>
</ion-content>
<script>
  console.log("teste+++++++");
</script>
